/* Global styles */
a:visited {

  color: #0B0080;
  
}

a {

  text-decoration: none;
  
  color: #0645AD;
  
  background: none;
  
}

ul {

  list-style-image: url(/images/wikipedia/ul.png);
  
  line-height: 1.5em;
  
  list-style-type: square;
  
}
#datasetloading{

	background:#fff;

	width:210px;        

	float:right;

	color:#666;
}

#datasetloading h2 {

	font:160% Arial;

	color:#333;
	
	border:none;

}

#interctx{

	background:#fff;

	width:210px;

	padding:10px 0px 0px 5px;

	float:right;

	color:#666;

}

#banner {

  background: #9c9 ;

  padding-top: 10px;

  padding-bottom: 10px;

  border-bottom: 2px solid;

  font: small-caps 40px/40px "Times New Roman", serif;

  color: #282 ;

  text-align: center;

}



#wikibanner {

	text-align: center;

}

body {background-color:#f9f9f9;}

div#content{

  margin-left: -1em;
    
  padding:1em;
  
  background-image:url(/images/wikipedia/wikipage_delimiter_vert.png);
    
  background-position:top left;
  
  background-repeat:repeat-y;
  
  background-color:white;
    
  color:black;
    
  direction:ltr
  
} 

#mw-head-base{

  margin-top:-24px;
  
  margin-right:15em;
  
  margin-left:2em;
  
  height:5em;
  
  background-image:url(/images/wikipedia/wikipage_delimiter_horz.png);
  
  background-position:bottom left;
  
  background-repeat:repeat-x
  
}



div#mw-head{
  top:0;    
  right:0;    
  width:100%    
}



#left-navigation{
    
    left: -1em;
    
    position: relative;    
    
    top: 24px    
    
}



#right-navigation{
    position: relative;
    right: -31em;
    top: 24px;    
}

div.vectorTabs h5,
div.vectorMenu h5 span{display:none} 

div.vectorTabs{
    float:left;
    height:2.5em
    }

div.vectorTabs{
    background-image:url(/images/wikipedia/wikipage_delimiter_dgrade.png);
    background-position:bottom left;
    background-repeat:no-repeat;
    padding-left:1px
    } 

div.vectorTabs ul{float:left}

div.vectorTabs ul{
    height:100%;
    list-style:none;
    margin:0;
    padding:0
    } 

div.vectorTabs ul li{float:left} 

div.vectorTabs ul li{
    line-height:1.125em;
    display:inline-block;
    height:100%;
    margin:0;
    padding:0;
    background-color:#f3f3f3;
    background-image:url(/images/wikipedia/new_edit_show_buttons_background.png);
    background-position:bottom left;
    background-repeat:repeat-x;
    white-space:nowrap
    } 

div.vectorTabs li a{
    display:inline-block;
    height:1.9em;
    padding-left:0.5em;
    padding-right:0.5em;
    background-image:url(/images/wikipedia/wikipage_delimiter_dgrade.png);
    background-position:bottom right;
    background-repeat:no-repeat;
    color:#0645ad;
    cursor:pointer;
    font-size:0.8em
    } 

div.vectorTabs li > a{display:block} 

div.vectorTabs span a{
    padding-top:1.25em
    }  

div.vectorTabs span > a{
    float:left;
    display:block
    }

div.vectorTabs li.selected a,
div.vectorTabs li.selected a:visited{
    color:#333333;
    text-decoration:none
    }

div.vectorTabs li.new a,
div.vectorTabs li.new a:visited{color:#a55858}    
img{
    border:none;
    vertical-align:middle
    }

hr{
    height:1px;
    color:#aaa;
    background-color:#aaa;
    border:0;
    margin:.2em 0 .2em 0
    } 
    
h1,h2,h3,h4,h5,h6{
    color:black;
    background:none;
    font-weight:normal;
    margin:0;
    overflow:hidden;
    padding-top:.5em;
    padding-bottom:.17em;
    border-bottom:1px solid #aaa;
    width:auto
    }
    
h1{font-size:188%}
h1.editsection{font-size:53%}
h2{font-size:150%}
h2.editsection{font-size:67%}
h2 a{
    color:black;
    }

h3,h4,h5,h6{

    font-weight:bold
    }
h3{font-size:132%}
h3.editsection{
    font-size:76%;
    font-weight:normal
    }
h4{font-size:116%}
h4.editsection{
    font-size:86%;
    font-weight:normal
    }
h5{font-size:100%}

h5.editsection{font-weight:normal}

h6{font-size:80%}

h6.editsection{
    font-size:125%;
    font-weight:normal
    }.editsection{float:right}
    
p{
    margin:.4em 0 .5em 0;
    line-height:1.5em
    }
    
p img{margin:0}


legend{
    padding:.5em;
    font-size:95%
    }
    
form{
    border:none;
    margin:0
    }
h1,h2{margin-bottom:.6em}
